@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #EEEFE9;
  font-family: 'Inter', system-ui, sans-serif;
  color: #1D1F27;
  -webkit-font-smoothing: antialiased;
}
